.controlSection {
  color: var(--ctrl-color);
  padding: 0 5%;
  margin-bottom: 1.5rem;
}
.controlSection > h1 > span {
  font-weight: normal;
}
.controlSection > h1 {
  margin-bottom: .2rem;
}
.controlSection > .welcome {
  font-size: small;
  margin-bottom: 2.4rem;
}
.inputSearch {
  display: flex;
  align-items: center;
  background-color: var(--ctrl-input-color);
  border-radius: 1rem;
  height: 3.3rem;
  padding-left: 1.5rem;
  margin-bottom: 3rem;
}
.inputSearch input {
  background-color: var(--ctrl-input-color);
  margin-left: 1rem;
  font-size: large;
  border-style: none;
  height: 3rem;
  border-radius: 1rem;
  flex: 1;
  color: white;
}
.options {
  display: flex;
  
}
.allUsersIcon {
  padding: .9rem 1.2rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  transition: transform 500ms;
  background-color: var(--fav1-color);
  cursor: pointer;
}
.maleUsersIcon {
  padding: .9rem 1.2rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: var(--fav2-color);
  transition: transform 500ms;
  cursor: pointer;
}
.femaleUsersIcon {
  padding: .9rem 1.2rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: var(--fav3-color);
  transition: transform 500ms;
  cursor: pointer;
}