html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #262a41;
  --ctrl-color: #ffffff;
  --out-bg-color: #f5f5ff;
  --ctrl-input-color: #3c3f54;
  --fav1-color: #f935a9;
  --fav2-color: #30bbb5;
  --fav3-color: #7946c1;
  --fav4-color: #262a41;
  --out-input-color: #e3e3ec;
}