.navSection {
  color: ghostwhite;
  flex: 1;
  margin: 0 3rem;
}
.navSection > h1 > span {
  font-weight: normal;
}
.navSection .welcome {
  font-size: small;
}
.inputSearch {
  display: flex;
  background-color: #3c3f54;
  border-radius: 1rem;
  height: 3rem;
  padding: .7rem 1.5rem;
  margin: 2.5rem 0 4rem;
}
.inputSearch input {
  background-color: #3c3f54;
  border-style: none;
  padding: 0 1rem;
  width: 30vw;
}
.options {
  display: flex;
  margin: 2.5rem 0;
}
.allUsersIcon {
  padding: .7rem 1rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: #f935a9;
  transition: all 30ms ease;
}
.allUsersIcon:active {
  transform: scale(1.1);
}
.allMaleUsersIcon {
  padding: .7rem 1rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: #30bbb5;
  transition: all 30ms ease;
}
.allMaleUsersIcon:active {
  transform: scale(1.1);
}
.allFemaleUsersIcon {
  padding: .7rem 1rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: #7946c1;
  transition: all 30ms ease;
}
.allFemaleUsersIcon:active {
  transform: scale(1.1);
}