.outputSection {
  background-color: var(--out-bg-color);
  border-radius: 1rem;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}
.notice {
  float: right;
  background-color: red;
  color: white;
}
.inputs {
  display: flex;
}
.searchBar {
  height: 2.3rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--out-input-color);
  border-radius: 2rem;
}
.searchBar input {
  border-style: none;
  border-radius: 3rem;
  padding-left: 1rem;  
  background-color: var(--out-in-color);
  padding-top: .4rem;
  padding-bottom: .4rem;
  flex: 1;
}
.countrySelect {
  background-color: var(--out-input-color);
  border-radius: 3rem;
}
.countrySelect select {
  border-style: none;
  border-radius: 3rem;
  padding: .5rem;
  background-color: var(--out-input-color);
}
.downloadPagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.downloadPagination a {
  border-radius: 1.5rem;
  height: 2.5rem;
  align-self: center;
  padding: .5rem 1rem;
  background-color:var(--fav3-color);
  color: var(--out-bg-color);
  cursor: pointer;
}
.pagination {
  display: flex;
}
.pagination p:first-of-type {
  background-color: var(--out-input-color);
  padding: .3rem .7rem;
  border-radius: .4rem;
  margin-right: .3rem;
  cursor: pointer;
}
.pagination p:last-of-type {
  background-color: var(--bg-color);
  color: white;
  padding: .3rem .7rem;
  border-radius: .4rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .outputSection {
    margin: unset;
  }
  .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchBar {
    margin: unset;
    flex: 2;
  }
  .countrySelect {
    flex: 1;
    text-align: center;
    margin: 0 1.5rem;
  }

}